.container {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    width: 50%;
    margin: auto;
    aspect-ratio: 1 / 1;
}

.rows {
    /*border: 2px solid blue;*/
    display: flex;
    flex: 1;
}

.squares {
    /*border: 2px solid green;*/
    flex:1;
}

.btnBox {
    width: 50%;
    /*border: 2px solid red;*/
    margin: auto;
    text-align: center;
}

.btn {
    margin: 20px auto;
}

